.body_form_college {
    font-family: Arial, sans-serif;
    width: auto;
    height: auto;
    margin-bottom: 0;
}
.college_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.college {
    margin: 20px;
    padding: 10px;
    width: 300px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 4px 4px 11px #aaa;
    transition: transform 0.3s;
    position: relative;
    cursor: pointer;
}
.college:hover {
    transform: translateY(-5px);
}
.figure {
    margin: 0;
}
.figcaption {
    font-size: 1.5em;
    margin: 10px 0;
    color: #333;
}
.p {
    font-size: 1.2em;
    color: #555;
}
.college .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.college:hover .overlay {
    opacity: 1;
}
.college .overlay i {
    font-size: 3em;
    color: #fff;
}
.college.selected {
    transform: scale(1.05);
}

