/* arabic */
@font-face {
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    src: url(../../fonts/readex.woff2) format('woff2');
    unicode-range: U+0600-06FF, U+0750-077F, U+0870-088E, U+0890-0891, U+0898-08E1, U+08E3-08FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE70-FE74, U+FE76-FEFC, U+102E0-102FB, U+10E60-10E7E, U+10EFD-10EFF, U+1EE00-1EE03, U+1EE05-1EE1F, U+1EE21-1EE22, U+1EE24, U+1EE27, U+1EE29-1EE32, U+1EE34-1EE37, U+1EE39, U+1EE3B, U+1EE42, U+1EE47, U+1EE49, U+1EE4B, U+1EE4D-1EE4F, U+1EE51-1EE52, U+1EE54, U+1EE57, U+1EE59, U+1EE5B, U+1EE5D, U+1EE5F, U+1EE61-1EE62, U+1EE64, U+1EE67-1EE6A, U+1EE6C-1EE72, U+1EE74-1EE77, U+1EE79-1EE7C, U+1EE7E, U+1EE80-1EE89, U+1EE8B-1EE9B, U+1EEA1-1EEA3, U+1EEA5-1EEA9, U+1EEAB-1EEBB, U+1EEF0-1EEF1;
}

.news-list .single-post a {
    font-size: 1rem;
    font-weight: 600;
    color: #4C535F;
    text-decoration: none;
    display: block;
}

:root {
    --primary-color: #5D3EBD;
    --secondary-color: #F5C000;
    --secondary2-color: #E2C079;
    --secondary3-color: #CDAE6C;
    --primary2-color: #0074A7;
    --sub-color: #129EBF;
    --sub2-color: #058FBD;
    --primary-font-color: #4C535F;
    --secondary-font-color: #717B8C;
    --third-font-color: #8D98AA;
    --forth-font-color: #94753B;
    --icon-color: #BAC1CC;
    --input-font-color: #CCD3DF;
    --font-color: #E0E4EC;
    --disabled-color: #EDF0F5;
    --background-color: #f9fbfd;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --warning-color: #faa61a;
    --info-color: #00C0F3;
    --success-color: #26A69A;
    --error-color: #EF5350;
    --font-bold: "din-bold";
    --font-regular: "Readex Pro";
    --font-light: "Readex Pro";
    --font-medium: "Readex Pro";
    --font-sans: , sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

:root {
    --background-color: #f9fbfd;
    --font-regular: "Readex Pro";
}


.bg-5gp {
    background-color: #f6f6f6 !important;
}

.news-section {
    position: relative;
    overflow: hidden;
    font-family: "Readex Pro";
    direction: rtl;
    margin: 0;
    font-weight: 400;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    color: #4c535f;
    font-size: 0.9rem;
    line-height: 1.8;
}


.mx-tka {
    margin-right: auto !important;
    margin-left: auto !important;
}

.content-lga {
    max-width: 1562px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

@media (max-width: 1562px) {
    .content-lga {
        margin-left: auto;
        margin-right: auto;
        padding-left: 18px;
        padding-right: 18px;
    }
}

.text-oqa {
    text-align: center !important;
}

.row-qk7 {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}

.pt-iso {
    padding-top: 0 !important;
}

.news-p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.section-xf4 {
    text-align: center;
    margin-bottom: 48px;
    font-size: 18px;
}

.row-qk7>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}

@media (min-width: 992px) {
    .col-gb5 {
        flex: 0 0 auto;
        width: 50%;
    }
}

.mb-g7w {
    margin-bottom: 1.5rem !important;
}

.px-5jw {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}

.card-4ox {
    position: relative;
    margin: 5px;
    overflow: hidden;
    cursor: pointer;
}

.d-q8z {
    display: flex !important;
}

.post-217 {
    border-bottom: 1px solid #EDF0F5;
    padding: 10px 0 20px !important;
    align-items: center;
}

@media (min-width: 992px) {
    .more-news {
        flex: 0 0 auto;
        width: 100%;
    }
}

.my-4nd {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.news-a {
    color: #0d6efd;
    text-decoration: underline;
}

.news-a {
    color: #006ea1;
    font-style: normal;
    text-decoration: none;
}

.card-4ox a {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.news-a:hover {
    color: #0a58ca;
}

.news-a:hover {
    color: #A88143;
}

.news-img {
    vertical-align: middle;
}

.w-ay8 {
    width: 100% !important;
}

.h-d84 {
    height: 100% !important;
}

.card-4ox img {
    width: 100%;
}

.card-4ox img {
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}

.card-4ox:hover img {
    transform: scale(1.1);
}

.column-zop {
    flex-direction: column !important;
}

.content-kj5 {
    justify-content: flex-end !important;
}

.card-4ox .container-7xn {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 100%;
    background: rgb(0, 0, 0, 0.2);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 48%, rgba(0, 0, 0, 0.70) 100%);
    padding: 10px 20px 10px 20px;
    transition: all 0.3s ease-in-out;
}

.post-231 {
    width: 20%;
    min-width: 20%;
}

.content-lao {
    padding: 10px 10px 0px 20px;
}

.btn-31z {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-84b {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    border-radius: .3rem;
}

.btn-31z:hover {
    color: #212529;
}

.d-a64 {
    display: none !important;
}

.card-4ox .card-lf7 {
    position: relative;
    color: #fff;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
    display: block;
    overflow: hidden;
}

.list-i5d .post-217 a {
    font-size: 1.4rem;
    font-weight: 600;
    color: #4C535F;
    text-decoration: none;
    display: block;
}

.news-h4 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

.news-h4 {
    font-size: calc(1.275rem + .3vw);
}

@media (min-width: 1200px) {
    .news-h4 {
        font-size: 1.5rem;
    }
}

.card-4ox .title-b9o {
    color: #fff;
    padding-bottom: 10px;
    font-size: 18px;
}

.post-217 img {
    width: 100%;

}

.news-post-p {
    color: #787878;
    font-size: 11px;
    margin: 0;
}

.card-p {
    padding: 5px 15px 15px;
}

a {
    text-decoration: none;
}

.more-news {
    text-align: center !important;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.more-news a {
    font-style: normal;
    z-index: 1;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: #fff;
    background-color: #006ea1;
    border-color: #006ea1;
    padding: .5rem 1rem;
    font-size: 1.25rem;
    border-radius: .3rem;
    width: 100% !important;
}

.more-news a:hover {
    color: #fff;
    background-color: #00496b;
    border-color: #00496b;
}

.news-header {
    display: flex;
    justify-content: center;
    max-width: 1562px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto !important;
    margin-left: auto !important;
}

.news-header-inner {
    text-align: center !important;
    line-height: 1.5;
    font-size: 32px;
    font-weight: 500;
    margin: 30px 0;
}
.news-header-inner a{
    color: #007bff;
}

.news-header-inner a::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: #00496b;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.news-header-inner a:hover::after {
    width: 90%;
}

@media (max-width: 1562px) {
    .news-header {
        padding-left: 18px;
        padding-right: 18px;
    }
}
